@import url('color-schemes.css');

.card {
  width: 85%;
  height: 100%;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 20px;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.2); 
  color: var(--col4);  
  border: 2px solid rgba(1, 1, 1, 0.2); 
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--col5); 
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--col2); 
}
