@import url('color-schemes.css');

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--col1);  
    overflow: hidden; 
}

.slides {
    display: flex;
    width: 100%; 
    max-width: 800px;
    height: 450px;
    animation: slide 16s linear infinite;
}

.slide {
    width: 100%; 
    height: 100%;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--col2);  
    border-radius: 10px; 
    background-color: var(--col2);  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }
}
