@import url('color-schemes.css');

.input-box {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid var(--col4);  
    color: var(--col2);
}

.input-box:disabled {
    background-color: var(--col3);
    color: var(--col5);
}

.profile-form {
    height: 75%;
    width: 80%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: var(--col1);  
    border: 1px solid var(--col4);  
}

.feedback-button {
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
    background-color: var(--col5);  
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.feedback-button:hover {
    background-color: var(--col2);  
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.state--value {
    background-color: var(--col4);  
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--col5);  
    cursor: pointer;
}
