.app-container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #FB6542;
}

.form-container {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.form-container h2 {
  color: #FB6542;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #FFBB00;
  border-radius: 5px;
  color: black;
}

button {
  background-color: #FB6542;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

.form-switch {
  margin-bottom: 20px;
}

.form-switch button {
  margin: 0 10px;
  padding: 10px 20px;
  border: 2px solid #FFBB00;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  color: #FFBB00;
}

.form-switch button:hover {
  background-color: #FFBB00;
  color: white;
}
